@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("Roboto-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("OpenSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Candara";
  src: url("../fonts/Candara-BoldItalic.woff2") format("woff2"), url("../fonts/Candara-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: bold;
}
/*
 * Fonts
 *
 */
/*
 * Color
 *
 */
/*
 * Grid
 *
 */
/*
 * Animation Speed
 *
 */
/* 1 Positioning */
/* 2 Block model */
/* 3 Typography */
/* 4 Visual */
/* 5 Animation */
/* 6 Misc */
/*
 * Colors
 *
 */
/*
 * Fonts
 *
 */
/*
 * Blocks
 *
 */
body {
  /* 2 Block model */
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  /* 3 Typography */
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
}

p,
ul {
  /* 2 Block model */
  padding: 0;
  margin: 0;
}

body.lock {
  /* 2 Block model */
  overflow: hidden;
}

main {
  /* 1 Positioning */
  padding-top: 70px;
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  /* 1 Positioning */
  position: absolute;
  /* 2 Block model */
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  /* 3 Typography */
  white-space: nowrap;
  /* 4 Visual */
  clip: rect(0 0 0 0);
  border: 0;
  clip-path: inset(100%);
}

.wrapper {
  /* 2 Block model */
  width: 100%;
}

.scrolled {
  /* 2 Block model */
  padding-top: 85px;
}
@media (min-width: 992px) {
  .scrolled {
    /* 2 Block model */
    padding-top: 84px;
  }
}

.overflow-heidden {
  /* 2 Block model */
  overflow: hidden;
}

.container--shop {
  /* 2 Block model */
  padding: 58px 82px;
  /* 4 Visual */
  -webkit-box-shadow: 0px 4px 40px rgba(83, 90, 114, 0.15);
  box-shadow: 0px 4px 40px rgba(83, 90, 114, 0.15);
}

.container--product-page {
  /* 2 Block model */
  padding: 0;
  max-width: 1180px;
  /* 4 Visual */
  -webkit-box-shadow: 0px 4px 40px rgba(83, 90, 114, 0.15);
  box-shadow: 0px 4px 40px rgba(83, 90, 114, 0.15);
}

.intro-page {
  /* 2 Block model */
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  /* 4 Visual */
  background-color: #000000;
}

.intro-page__top {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}

.intro-page .logo .icon--logo {
  /* 2 Block model */
  width: 190px;
  height: 87px;
}

.intro-page__list {
  /* 2 Block model */
  padding: 0;
  margin: 0;
  /* 4 Visual */
  list-style: none;
}

.intro-page__item {
  /* 2 Block model */
  margin-bottom: 15px;
}

.intro-page__item a {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 12px 20px 10px 20px;
  /* 3 Typography */
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  /* 4 Visual */
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  border-radius: 5px;
  /* 5 Animation */
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.intro-page__item a:hover {
  /* 3 Typography */
  color: #ffffff;
  /* 4 Visual */
  cursor: pointer;
  background-color: #000000;
}

.container-page {
  /* 2 Block model */
  padding: 60px 0;
}

.info-page {
  padding: 10px 20px;
  padding-top: 50px;
  padding-left: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 44px rgba(51, 51, 51, 0.1);
  box-shadow: 0px 4px 44px rgba(51, 51, 51, 0.1);
  border-radius: 10px;
}

.link {
  color: #2d58b6;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.link:hover {
  color: #3163f0;
}

.to-top {
  /* 1 Positioning */
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  /* 2 Block model */
  display: none;
  width: 40px;
  height: 40px;
  /* 4 Visual */
  background-color: #2d58b6;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.25);
  /* 5 Animation*/
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.to-top::before {
  /* 1 Positioning */
  position: absolute;
  top: 58%;
  left: 50%;
  /* 2 Block model */
  display: inline-block;
  padding: 3px;
  width: 10px;
  height: 10px;
  /* 4 Visual */
  content: "";
  -webkit-transform: translate(-50%, -50%) rotate(-135deg);
  transform: translate(-50%, -50%) rotate(-135deg);
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  /* 5 Animation */
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.to-top:hover {
  /* 4 Visual */
  cursor: pointer;
  background-color: #3163f0;
}

.btn-wave {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 280px;
  height: 60px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 3 Typography */
  text-decoration: none;
  white-space: nowrap;
  /* 4 Visual */
  cursor: pointer;
  border: none;
  border-radius: 0 0 10px 10px;
  /* 5 Animation */
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  /* 6 Misc */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-wave:hover {
  /* 4 Visual */
  border-radius: 10px;
  -webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
  box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
  /* 5 Animation */
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.btn-wave:hover .btn-wave__waves {
  /* 1 Positioning */
  top: -50px;
}

.btn-wave__text {
  /* 1 Positioning */
  position: relative;
  z-index: 1;
  /* 3 Typography */
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 128.5714285714%;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 8px;
}

.icon + .btn-wave__text {
  /* 2 Block model */
  margin-left: -8px;
}

.btn-wave__text:not(:last-child) {
  /* 2 Block model */
  margin-right: -8px;
}

.btn-wave .icon {
  /* 2 Block model */
  margin: 0 16px;
}

.btn-wave .icon:only-of-type {
  /* 2 Block model */
  margin: 0;
}

.btn-wave__waves {
  /* 1 Positioning */
  position: absolute;
  top: 0;
  left: 0;
  /* 2 Block model */
  width: 280px;
  height: 280px;
  /* 4 Visual */
  background-color: #4973ff;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  /* 5 Animation */
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.btn-wave__waves::after,
.btn-wave__waves::before {
  /* 1 Positioning */
  position: absolute;
  top: 0;
  left: 50%;
  /* 2 Block model */
  width: 250%;
  height: 250%;
  /* 4 Visual */
  content: "";
  -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.btn-wave__waves::before {
  /* 4 Visual */
  border-radius: 48%;
  background-color: #000;
  /* 5 Animation */
  -webkit-animation: waves 5s infinite linear;
  animation: waves 5s infinite linear;
}

.btn-wave__waves::after {
  /* 4 Visual */
  border-radius: 44%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 5 Animation */
  -webkit-animation: waves 10s infinite linear;
  animation: waves 10s infinite linear;
}

@-webkit-keyframes waves {
  0% {
    /* 4 Visual */
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    /* 4 Visual */
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}

@keyframes waves {
  0% {
    /* 4 Visual */
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    /* 4 Visual */
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
.btn-freedom {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  display: inline-block;
  /* 3 Typography */
  text-decoration: none;
  white-space: nowrap;
  /* 4 Visual */
  cursor: pointer;
  border: none;
  background: none;
  /* 6 Misc */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-freedom:hover::before,
.btn-freedom:hover::after {
  /* 1 Positioning */
  left: 100%;
  /* 4 Visual */
  opacity: 0;
}

.btn-freedom::before,
.btn-freedom::after {
  /* 1 Positioning */
  position: absolute;
  top: -10px;
  left: 50%;
  z-index: 1;
  /* 2 Block model */
  width: 100px;
  height: 100px;
  margin-left: -40px;
  /* 4 Visual */
  content: "";
  border: 2px solid red;
  /* 5 Animation */
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.btn-freedom::before {
  /* 5 Animation */
  -webkit-animation: animBtn 20s infinite linear;
  animation: animBtn 20s infinite linear;
}

.btn-freedom::after {
  /* 5 Animation */
  -webkit-animation: animBtn 25s infinite linear;
  animation: animBtn 25s infinite linear;
}

.btn-freedom__text {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  padding: 0 50px;
  height: 80px;
  /* 3 Typography */
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 10px;
  /* 4 Visual */
  border-radius: 50px;
  /* 5 Animation */
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.btn-freedom__text::before,
.btn-freedom__text::after {
  /* 1 Positioning */
  position: absolute;
  /* 2 Block model */
  width: 50%;
  height: 100%;
  /* 4 Visual */
  content: "";
  background-color: #eee;
  /* 5 Animation */
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.btn-freedom__text::before {
  /* 1 Positioning */
  left: 0;
  z-index: 2;
  /* 4 Visual */
  background-color: #ccc;
}

.btn-freedom__text::after {
  /* 1 Positioning */
  right: 0;
}

.btn-freedom__text span {
  /* 1 Positioning */
  position: relative;
  z-index: 2;
  /* 2 Block model */
  display: inline-block;
}

.btn-freedom:hover .btn-freedom__text {
  /* 1 Positioning */
  top: -10px;
  /* 3 Typography */
  color: #fff;
  /* 4 Visual */
  -webkit-box-shadow: 0 5px 0 0 #0c5b52;
  box-shadow: 0 5px 0 0 #0c5b52;
  /* 5 Animation */
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.btn-freedom:active .btn-freedom__text {
  /* 1 Positioning */
  top: -7px;
  /* 4 Visual */
  -webkit-box-shadow: 0 2px 0 0 #0c5b52;
  box-shadow: 0 2px 0 0 #0c5b52;
  /* 5 Animation */
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.btn-freedom:hover .btn-freedom__text::before,
.btn-freedom:hover .btn-freedom__text::after {
  /* 4 Visual */
  background-color: #18b5a4;
}

.btn-freedom:hover .btn-freedom__text::before {
  /* 2 Block model */
  width: 100%;
}

.icon + .btn-freedom__text {
  /* 2 Block model */
  margin-left: -8px;
}

.btn-freedom__text:not(:last-child) {
  /* 2 Block model */
  margin-right: -8px;
}

.btn-freedom .icon {
  /* 2 Block model */
  margin: 0 16px;
}

.btn-freedom .icon:only-of-type {
  /* 2 Block model */
  margin: 0;
}

@-webkit-keyframes animBtn {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animBtn {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.btn-gradient {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px;
  padding: 10px 20px;
  margin: 0;
  /* 3 Typography */
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: darkorange;
  text-decoration: none;
  white-space: nowrap;
  word-break: keep-all;
  /* 4 Visual */
  cursor: pointer;
  border: none;
  background: linear-gradient(263.9deg, #c74a26 3.46%, #e24400 50.09%, #981807 105.19%) border-box;
  border: 0 solid transparent;
  border-radius: 10px;
  /* 5 Animation */
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  /* 6 Misc */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-gradient__text {
  /* 1 Positioning */
  position: relative;
  /* 3 Typography */
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: darkorange;
}

.btn-gradient:hover {
  /* 4 Visual */
  background: linear-gradient(263.9deg, #ff693e 3.46%, #e24400 50.09%, #f36f24 105.19%);
}

.btn-gradient--anim-bg {
  /* 4 Visual */
  border: none;
  background: linear-gradient(263.9deg, #c74a26 3.46%, #e24400 50.09%, #981807 105.19%);
}

.btn-gradient--anim-bg .btn-gradient__text {
  /* 1 Positioning */
  z-index: 10;
}

.btn-gradient--anim-bg::before {
  /* 1 Positioning */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* 2 Block model */
  display: block;
  width: 100%;
  height: 100%;
  /* 4 Visual */
  content: "";
  background: linear-gradient(263.9deg, #ff693e 3.46%, #e24400 50.09%, #f36f24 105.19%) border-box;
  border-radius: 10px;
  border: 2px solid transparent;
  opacity: 0;
  /* 5 Animation */
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.btn-gradient--anim-bg:hover {
  /* 4 Visual */
  background: linear-gradient(263.9deg, #c74a26 3.46%, #e24400 50.09%, #981807 105.19%) border-box;
}

.btn-gradient--anim-bg:hover::before {
  /* 4 Visual */
  opacity: 1;
}

.btn-gradient--outline {
  /* 4 Visual */
  background: none;
  border: 2px solid darkorange;
}

.btn--outline-anim-bg {
  /* 4 Visual */
  background: none;
  border: 2px solid darkorange;
}

.btn--outline-anim-bg .btn-gradient__text {
  /* 1 Positioning */
  z-index: 10;
}

.btn--outline-anim-bg::before {
  /* 1 Positioning */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* 2 Block model */
  display: block;
  width: 100%;
  height: 100%;
  /* 4 Visual */
  content: "";
  background: linear-gradient(263.9deg, #ff693e 3.46%, #e24400 50.09%, #f36f24 105.19%) border-box;
  border-radius: 7.5px;
  border: 0 solid transparent;
  opacity: 0;
  /* 5 Animation */
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.btn--outline-anim-bg:hover {
  /* 4 Visual */
  background: none;
}

.btn--outline-anim-bg:hover::before {
  /* 4 Visual */
  opacity: 1;
}

.btn--border-gradient {
  /* 4 Visual */
  border: solid 4px transparent;
  border-radius: 20px;
  background: var(--grad) border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  /* 6 Misc */
  --full: linear-gradient(red 0 0);
  --grad: linear-gradient(to right bottom, #ffda5f, #f9376b);
}

.btn--border-gradient::before {
  /* 1 Positioning */
  position: absolute;
  /* 4 Visual */
  inset: -3px;
  border: inherit;
  border-radius: inherit;
  background: inherit;
  background-clip: border-box;
  -webkit-mask: var(--full) padding-box, var(--full);
  -webkit-mask-composite: xor;
  mask: var(--full) padding-box exclude, var(--full);
  content: "";
}

.btn--border-gradient:hover {
  /* 4 Visual */
  background: var(--grad) border-box;
  -webkit-background-clip: text;
  background-clip: text;
  /* 6 Misc */
  --grad: linear-gradient(to right bottom, #16701a, #961235);
}

.btn--border-gradient-bg {
  /* 4 Visual */
  border: solid 4px transparent;
  border-radius: 20px;
  background: var(--grad) border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  /* 6 Misc */
  --slist: #26e0ec, #bf4fd9;
  --full: linear-gradient(red 0 0);
  --grad: linear-gradient(to right bottom, var(--slist));
}

.btn--border-gradient-bg::before {
  /* 1 Positioning */
  position: absolute;
  /* 4 Visual */
  inset: -3px;
  border: inherit;
  border-radius: inherit;
  background: inherit;
  background-clip: border-box;
  -webkit-mask: var(--full) padding-box, var(--full);
  -webkit-mask-composite: xor;
  mask: var(--full) padding-box exclude, var(--full);
  content: "";
}

.btn--border-gradient-bg:hover {
  /* 4 Visual */
  background: -webkit-gradient(linear, left top, right bottom, from(#0a0096), to(#f704e2)) border-box;
  background: linear-gradient(to right bottom, #0a0096, #f704e2) border-box;
  -webkit-background-clip: text;
  background-clip: text;
}

.btn--border-gradient-bg:hover::before {
  /* 1 Positioning */
  z-index: -1;
  /* 4 Visual */
  -webkit-mask: none;
  mask: none;
  border: none;
  background: -webkit-gradient(linear, left top, right bottom, from(#26e0ec), to(#bf4fd9));
  background: linear-gradient(to right bottom, #26e0ec, #bf4fd9);
}

.spoler__item {
  /* 2 Block model */
  padding-bottom: 7px;
}

.spoler__title {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  padding-left: 30px;
  margin-bottom: 7px;
  /* 3 Typography */
  text-transform: unset;
  letter-spacing: 2px;
  /* 4 Visual */
  cursor: pointer;
}

.spoler__title::before,
.spoler__title::after {
  /* 1 Positioning */
  position: absolute;
  top: 14px;
  /* 2 Block model */
  width: 10px;
  height: 1px;
  /* 4 Visual */
  content: "";
  background-color: #000;
  /* 5 Animation */
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.spoler__title::before {
  /* 1 Positioning */
  left: 0;
  /* 4 Visual */
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.spoler__title::after {
  /* 1 Positioning */
  left: 7.5px;
  /* 4 Visual */
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.spoler__title.spoler__title-active::before,
.spoler__title.spoler__title-active::after {
  /* 4 Visual */
  background-color: red;
}

.spoler__title.spoler__title-active::before {
  /* 4 Visual */
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.spoler__title.spoler__title-active::after {
  /* 4 Visual */
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}

.spoler__text {
  /* 2 Block model */
  display: none;
  overflow: hidden;
}

.spoler__text-open {
  /* 2 Block model */
  display: block;
}

.geometric-figures {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  margin-right: -20px;
  /* 4 Visual */
  list-style: none;
}

.geometric-figures__item {
  /* 2 Block model */
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

/* Figures */
.square {
  /* 2 Block model */
  width: 150px;
  height: 150px;
  /* 4 Visual */
  background-color: black;
}

.rectangle {
  /* 2 Block model */
  width: 300px;
  height: 150px;
  /* 4 Visual */
  background-color: black;
}

.cirlce {
  /* 2 Block model */
  width: 150px;
  height: 150px;
  /* 4 Visual */
  background-color: black;
  border-radius: 50%;
}

.oval {
  /* 2 Block model */
  width: 300px;
  height: 150px;
  /* 4 Visual */
  background-color: black;
  border-radius: 50%;
}

.trinangle-up {
  /* 2 Block model */
  width: 0;
  height: 0;
  /* 4 Visual */
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid black;
}

.trinangle-down {
  /* 2 Block model */
  width: 0;
  height: 0;
  /* 4 Visual */
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid black;
}

.trinangle-left {
  /* 2 Block model */
  width: 0;
  height: 0;
  /* 4 Visual */
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 100px solid black;
}

.trinangle-right {
  /* 2 Block model */
  width: 0;
  height: 0;
  /* 4 Visual */
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 100px solid black;
}

.parallelogram {
  /* 2 Block model */
  width: 150px;
  height: 100px;
  /* 4 Visual */
  background-color: black;
  -webkit-transform: skew(15deg);
  transform: skew(15deg);
}

.trapezoid {
  /* 2 Block model */
  width: 200px;
  /* 4 Visual */
  border-bottom: 100px solid black;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.block-disiger {
  /* 1 Positioning */
  position: relative;
  z-index: 100;
  /* 2 Block model */
  padding: 1px;
  /* 4 Visual */
  -webkit-filter: drop-shadow(3px 3px 10px #000000);
  filter: drop-shadow(3px 3px 10px #000000);
}

.block-disiger::before {
  /* 1 Positioning */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  /* 2 Block model */
  display: block;
  width: 100%;
  /* 4 Visual */
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(51, 51, 51, 0)), to(#333333));
  background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #333333 100%);
  clip-path: polygon(0 0, calc(100% - 27px) 0, 100% 27px, 100% calc(100% - 27px), calc(100% - 27px) 100%, 0 100%);
}

.block-disiger::after {
  /* 1 Positioning */
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  z-index: 6;
  /* 2 Block model */
  display: block;
  width: 100%;
  /* 4 Visual */
  content: "";
  background: linear-gradient(282.59deg, #1d1d1d 49.45%, #282828 116.53%);
  clip-path: polygon(0 0, calc(100% - 28px) 0, 100% 28px, 100% calc(100% - 28px), calc(100% - 28px) 100%, 0 100%);
}

.block-disiger__wrapper {
  /* 1 Positioning */
  position: relative;
  z-index: 9;
  /* 2 Block model */
  padding: 24px 25px 22px 23px;
}

.block-disiger__body {
  /* 2 Block model */
  padding: 10px;
}
.block-disiger__body span {
  /* 3 Typography */
  color: white;
}

.block-poygon {
  /* 2 Block model */
  padding: 20px;
  /* 4 Visual */
  background-color: black;
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 20px, 100% 100%, 20px 100%, 0 calc(100% - 20px));
}
.block-poygon span {
  /* 3 Typography */
  color: white;
}

.block-arrows {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.block-arrows__item {
  /* 1 Positioning */
  position: relative;
  z-index: 5;
  /* 2 Block model */
  width: 100%;
}
@media (min-width: 1200px) {
  .block-arrows__item {
    /* 2 Block model */
    max-width: 380px;
  }
}

.block-arrows__top {
  /* 1 Positioning */
  position: relative;
  z-index: 1;
  /* 2 Block model */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 79px;
  padding-left: 20px;
  margin-right: 45px;
  margin-bottom: 24px;
  /* 4 Visual */
  background-color: #ffd933;
}
@media (min-width: 768px) {
  .block-arrows__top {
    /* 2 Block model */
    padding-left: 40px;
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .block-arrows__top {
    /* 2 Block model */
    height: 85px;
    padding-left: 30px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .block-arrows__top {
    /* 2 Block model */
    margin-bottom: 44px;
  }
}

.block-arrows__top::after {
  /* 1 Positioning */
  position: absolute;
  top: 0;
  right: -41px;
  z-index: 5;
  /* 2 Block model */
  width: 0;
  height: 0;
  /* 4 Visual */
  content: "";
  border-top: 40px solid transparent;
  border-bottom: 39px solid transparent;
  border-left: 41px solid #ffd933;
}
@media (min-width: 992px) {
  .block-arrows__top::after {
    /* 4 Visual */
    border-top: 42px solid transparent;
    border-bottom: 43px solid transparent;
  }
}

.block-arrows__item:not(:first-child) .block-arrows__top {
  /* 2 Block model */
  padding-left: 60px;
}

.block-arrows__item:not(:first-child) .block-arrows__top::before {
  /* 1 Positioning */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  /* 2 Block model */
  display: none;
  width: 0;
  height: 0;
  /* 4 Visual */
  content: "";
  border-top: 42px solid transparent;
  border-bottom: 43px solid transparent;
  border-left: 41px solid #ffffff;
}
@media (min-width: 992px) {
  .block-arrows__item:not(:first-child) .block-arrows__top::before {
    /* 2 Block model */
    display: block;
  }
}

.tabs__items {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs__item {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
  height: 50px;
  /* 3 Typography */
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.tabs__item span {
  /* 1 Positioning */
  position: relative;
  z-index: 2;
}
@media (max-width: 600px) {
  .tabs__item span {
    /* 2 Block model */
    display: block;
    width: 100px;
    overflow: hidden;
    /* 3 Typography */
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
  }
}

.tabs__content {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  display: none;
  padding: 20px;
  /* 3 Typography */
  font-size: 19px;
  line-height: 24px;
}

.tabs__content::before {
  /* 1 Positioning */
  position: absolute;
  top: -50px;
  /* 2 Block model */
  width: 33.333%;
  height: 50px;
  /* 4 Visual */
  content: "";
}

.tabs__content:nth-child(1) {
  /* 4 Visual */
  background-color: #eb8698;
}

.tabs__content:nth-child(1)::before {
  /* 1 Positioning */
  left: 0;
  /* 4 Visual */
  background-color: #eb8698;
}

.tabs__content:nth-child(2) {
  /* 4 Visual */
  background-color: #9278aa;
}

.tabs__content:nth-child(2)::before {
  /* 1 Positioning */
  left: 33.333%;
  /* 4 Visual */
  background-color: #9278aa;
}

.tabs__content:nth-child(3) {
  /* 4 Visual */
  background-color: #4095da;
}

.tabs__content:nth-child(3)::before {
  /* 1 Positioning */
  right: 0;
  /* 4 Visual */
  background-color: #4095da;
}

.tabs__content:target {
  /* 2 Block model */
  display: block;
}

.fullscreen {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 20px 0;
  /* 4 Visual */
  background-color: #666;
}

.fullscreen__bg {
  /* 4 Visual */
  background-image: url(../images/lazy-loading__img-01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fullscreen__body {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  /* 3 Typography */
  text-align: center;
  /* 4 Visual */
  background-color: rgb(170, 109, 109);
}

.menu a {
  /* 3 Typography */
  text-decoration: none;
}

.menu a.parent {
  /* 2 Block model */
  margin-right: 30px;
}

.menu li {
  /* 1 Positioning */
  position: relative;
  /* 4 Visual */
  list-style: none;
}

.arrow {
  /* 1 Positioning */
  position: absolute;
  right: 0;
  top: 8px;
  /* 2 Block model */
  display: none;
  width: 0;
  height: 0;
  /* 4 Visual */
  border-top: 10px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  /* 5 Animation */
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.arrow.active {
  /* 4 Visual */
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.menu__sub-arrow {
  /* 1 Positioning */
  top: 13px;
  right: 10px;
}
@media (min-width: 768px) {
  .menu__sub-arrow {
    /* 1 Positioning */
    top: 8px;
    /* 4 Visual */
    border-bottom: 5px solid transparent;
    border-left: 10px solid #000;
    border-top: 5px solid transparent;
    border-right: none;
  }
}

.menu__list {
  /* 2 Block model */
  display: block;
}
@media (min-width: 768px) {
  .menu__list {
    /* 2 Block model */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu__item {
  /* 2 Block model */
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .menu__item {
    /* 2 Block model */
    margin-right: 20px;
    margin-bottom: 0;
  }
}
.menu__item:last-child {
  /* 2 Block model */
  margin-right: 0;
  margin-bottom: 0;
}

.menu__link {
  /* 3 Typography */
  color: #000;
}

.menu__sub-list {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  display: none;
  min-width: 300px;
  margin-top: 20px;
  /* 4 Visual */
  background-color: brown;
  /* 5 Animation */
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (min-width: 768px) {
  .menu__sub-list {
    /* 1 Positioning */
    position: absolute;
    /* 2 Block model */
    display: block;
    margin-top: 0;
    /* 4 Visual */
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: translate(0, 10%);
    transform: translate(0, 10%);
    opacity: 0;
  }
}

.menu__sub-list.open {
  /* 2 Block model */
  display: block;
}

.menu__sub-link {
  /* 2 Block model */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px 10px;
  /* 3 Typography */
  color: #fff;
}

.menu__sub-sub-list {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  display: none;
  min-width: 300px;
  /* 4 Visual */
  background-color: cadetblue;
  /* 5 Animation */
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
@media (min-width: 768px) {
  .menu__sub-sub-list {
    /* 2 Block model */
    position: absolute;
    top: 0;
    left: 100%;
    /* 2 Block model */
    display: block;
    padding-left: 5px;
    /* 4 Visual */
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: translate(10%, 0);
    transform: translate(10%, 0);
    opacity: 0;
  }
}

.menu__sub-sub-list.open {
  /* 2 Block model */
  display: block;
}

.menu__sub-sub-link {
  /* 2 Block model */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 5px 10px;
  /* 3 Typography */
  color: #fff;
}

body.pc .menu__item:hover .menu__sub-list {
  /* 2 Block model */
  display: block;
}
@media (min-width: 768px) {
  body.pc .menu__item:hover .menu__sub-list {
    /* 4 Visual */
    visibility: visible;
    pointer-events: all;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

body.pc .menu__sub-item:hover .menu__sub-sub-list {
  /* 2 Block model */
  display: block;
}
@media (min-width: 768px) {
  body.pc .menu__sub-item:hover .menu__sub-sub-list {
    /* 4 Visual */
    visibility: visible;
    pointer-events: all;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

body.touch .menu__link {
  /* 2 Block model */
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

body.touch .menu__sub-list.open {
  /* 4 Visual */
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

body.touch .menu__sub-sub-list.open {
  /* 4 Visual */
  visibility: visible;
  pointer-events: all;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

body.touch .arrow {
  /* 2 Block model */
  display: block;
}

.timer {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  width: 200px;
  height: 200px;
  /* 4 Visual */
  border-radius: 50%;
  background-color: #000;
}

.timer::before {
  /* 1 Positioning */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  /* 2 Block model */
  width: 50%;
  height: 100%;
  /* 4 Visual */
  content: "";
  background-color: #000;
  /* 5 Animation */
  -webkit-animation: mask_left 10s steps(1, end) forwards;
  animation: mask_left 10s steps(1, end) forwards;
}

.timer::after {
  /* 1 Positioning */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  /* 2 Block model */
  width: 50%;
  height: 100%;
  /* 4 Visual */
  content: "";
  background-color: darkcyan;
  /* 5 Animation */
  -webkit-animation: mask_rigth 10s steps(1, end) forwards;
  animation: mask_rigth 10s steps(1, end) forwards;
}

.timer__line {
  /* 1 Positioning */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  /* 2 Block model */
  width: 100%;
  height: 100%;
  /* 4 Visual */
  /* 5 Animation */
  -webkit-animation: line 10s linear forwards;
  animation: line 10s linear forwards;
}

.timer__line::after {
  /* 1 Positioning */
  position: absolute;
  top: 0;
  left: 0;
  /* 2 Block model */
  width: 50%;
  height: 100%;
  /* 4 Visual */
  content: "";
  background-color: darkcyan;
}

.timer__body {
  /* 1 Positioning */
  z-index: 4;
  /* 2 Block model */
  width: 100px;
  height: 100px;
  overflow: hidden;
  /* 3 Typography */
  text-align: center;
  /* 4 Visual */
  border-radius: 50%;
  background-color: darkgrey;
}

.timer__counter {
  /* 5 Animation */
  -webkit-animation: counter 10s steps(9, end) forwards;
  animation: counter 10s steps(9, end) forwards;
}

.timer__counter span {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100px;
  /* 3 Typography */
  font-size: 40px;
  color: #000;
}

@-webkit-keyframes counter {
  100% {
    /* 4 Visual */
    -webkit-transform: translate(0px, -900px);
    transform: translate(0px, -900px);
  }
}

@keyframes counter {
  100% {
    /* 4 Visual */
    -webkit-transform: translate(0px, -900px);
    transform: translate(0px, -900px);
  }
}
@-webkit-keyframes line {
  100% {
    /* 4 Visual */
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes line {
  100% {
    /* 4 Visual */
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes mask_left {
  0% {
    visibility: visible;
  }
  50%, 100% {
    visibility: hidden;
  }
}
@keyframes mask_left {
  0% {
    visibility: visible;
  }
  50%, 100% {
    visibility: hidden;
  }
}
@-webkit-keyframes mask_rigth {
  0% {
    visibility: hidden;
  }
  50%, 100% {
    visibility: visible;
  }
}
@keyframes mask_rigth {
  0% {
    visibility: hidden;
  }
  50%, 100% {
    visibility: visible;
  }
}
.hamburger {
  /* 1 Positioning */
  position: relative;
  z-index: 5;
  /* 2 Block model */
  width: 30px;
  height: 18px;
  /* 4 Visual */
  cursor: pointer;
}

.hamburger__band,
.hamburger::before,
.hamburger::after {
  /* 1 Positioning */
  position: absolute;
  left: 0;
  /* 2 Block model */
  width: 100%;
  height: 10%;
  /* 4 Visual */
  background-color: #fff;
  /* 5 Animation */
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.hamburger::before,
.hamburger::after {
  /* 4 Visual */
  content: "";
}

.hamburger::before {
  /* 1 Positioning */
  top: 0;
}

.hamburger::after {
  /* 1 Positioning */
  bottom: 0;
}

.hamburger__band {
  /* 1 Positioning */
  top: 50%;
  /* 4 Visual */
  -webkit-transform: scale(1) translateY(-50%);
  transform: scale(1) translateY(-50%);
}

.hamburger--active .hamburger__band {
  /* 4 Visual */
  -webkit-transform: scale(0) translateY(-50%);
  transform: scale(0) translateY(-50%);
}

.hamburger--active.hamburger::before {
  /* 1 Positioning */
  top: 50%;
  /* 4 Visual */
  -webkit-transform: rotate(-45deg) translate(0, -50%);
  transform: rotate(-45deg) translate(0, -50%);
}

.hamburger--active.hamburger::after {
  /* 1 Positioning */
  bottom: 50%;
  /* 4 Visual */
  -webkit-transform: rotate(45deg) translate(0, 50%);
  transform: rotate(45deg) translate(0, 50%);
}

.page-text h1 {
  /* 2 Block model */
  margin: 0;
  font-size: 36px;
  line-height: 44px;
}
.page-text h1:not(:last-child) {
  /* 2 Block model */
  margin-bottom: 30px;
}

.page-text h2 {
  /* 2 Block model */
  margin: 0;
  font-size: 28px;
  line-height: 36px;
}
.page-text h2:not(:last-child) {
  /* 2 Block model */
  margin-bottom: 26px;
}

.page-text h3 {
  /* 2 Block model */
  margin: 0;
  font-size: 20px;
  line-height: 28px;
}
.page-text h3:not(:last-child) {
  /* 2 Block model */
  margin-bottom: 22px;
}

.page-text h4 {
  /* 2 Block model */
  margin: 0;
}
.page-text h4:not(:last-child) {
  /* 2 Block model */
  margin-bottom: 18px;
}

.page-text h5 {
  /* 2 Block model */
  margin: 0;
}
.page-text h5:not(:last-child) {
  /* 2 Block model */
  margin-bottom: 14px;
}

.page-text h6 {
  /* 2 Block model */
  margin: 0;
}
.page-text h6:not(:last-child) {
  /* 2 Block model */
  margin-bottom: 10px;
}

.page-text p {
  /* 2 Block model */
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}
.page-text p:not(:last-child) {
  /* 2 Block model */
  margin-bottom: 18px;
}

.page-text ul {
  /* 2 Block model */
  padding-left: 20px;
  margin: 0;
}
.page-text ul:not(:last-child) {
  /* 2 Block model */
  margin-bottom: 22px;
}

.page-text ol {
  /* 2 Block model */
  padding-left: 20px;
  margin: 0;
}
.page-text ol:not(:last-child) {
  /* 2 Block model */
  margin-bottom: 26px;
}

.page-text code {
  /* 2 Block model */
  display: inline-block;
  padding: 10px 10px;
  /* 4 Visual */
  background-color: bisque;
}
.page-text code:not(:last-child) {
  /* 2 Block model */
  margin-bottom: 10px;
}

.page-text figure {
  /* 2 Block model */
  padding: 10px;
  margin: 0;
  /* 3 Typography */
  text-align: left;
  /* 4 Visual */
  background-color: #eeeeee;
}
.page-text figure:not(:last-child) {
  /* 2 Block model */
  margin-bottom: 20px;
}

.page-text figure img {
  /* 2 Block model */
  display: block;
  width: 100%;
}

.page-text picture:not(:last-child) {
  /* 2 Block model */
  margin-bottom: 20px;
}

.page-text .language-pug {
  /* 2 Block model */
  margin: 0;
  /* 4 Visual */
  background-color: black;
}

.page-info {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-info__sidebar {
  /* 2 Block model */
  -webkit-box-flex: 0;
  -ms-flex: 0 0 350px;
  flex: 0 0 350px;
  width: 350px;
  min-height: calc(100vh - 60px);
}

.page-info__wrapper-menu {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /* 4 Visual */
  border-right: 2px solid #ccc;
}

.page-info__body {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  padding: 0 40px;
}
.page-info__body ol,
.page-info__body ul {
  margin: 0;
  padding-block: 0;
  padding-inline: 20px 0;
}
.page-info__body ol li,
.page-info__body ul li {
  -webkit-margin-after: 10px;
  margin-block-end: 10px;
  -webkit-margin-before: 0;
  margin-block-start: 0;
}
.page-info__body ol li:last-child,
.page-info__body ul li:last-child {
  -webkit-margin-after: 0;
  margin-block-end: 0;
}
.page-info__body ol:not(:last-child),
.page-info__body ul:not(:last-child) {
  margin-block: 0 18px;
}
.page-info__body p:not(:last-child) {
  margin-block: 0 12px;
}

.page-info__title {
  /* 2 Block model */
  margin-top: 0;
}

.page-info__menu-list {
  /* 2 Block model */
  padding: 0;
  margin: 0;
  margin-left: 25px;
}

.page-info__menu-item {
  /* 2 Block model */
  margin-bottom: 10px;
}
.page-info__menu-item:last-child {
  /* 2 Block model */
  margin-bottom: 0;
}

.page-info__menu-link {
  /* 3 Typography */
  font-size: 16px;
  line-height: 137.5%;
  color: #000;
  text-decoration: none;
  /* 5 Animation */
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.page-info__menu-link:hover {
  /* 4 Visual */
  opacity: 0.7;
}

.page-info__code {
  /* 2 Block model */
  padding: 4px;
  /* 4 Visual */
  background-color: wheat;
  border-radius: 4px;
}

.info-block {
  padding: 20px;
  border: 1px solid #2d58b6;
  border-radius: 8px;
}
.info-block:not(:last-child) {
  margin-bottom: 25px;
}

.info-block__title {
  /* 2 Block model */
  margin: 0;
  /* 3 Typography */
  font-size: 25px;
  line-height: 32px;
}
.info-block__title:not(:last-child) {
  /* 2 Block model */
  margin-bottom: 15px;
}

.info-block__link {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  display: inline-block;
  /* 3 Typography */
  font-size: 16px;
  line-height: 24px;
}
.info-block__link::before {
  /* 1 Positioning */
  position: absolute;
  bottom: 0;
  right: -5px;
}
.info-block__link:not(:last-child) {
  /* 2 Block model */
  margin-right: 8px;
}
.info-block__link:not(:last-child)::before {
  content: ",";
}

.info-block__text {
  /* 3 Typography */
  font-size: 16px;
  line-height: 24px;
}
.info-block__text:not(:last-child) {
  margin-bottom: 10px;
}

.info-block__code {
  /* 2 Block model */
  padding: 4px;
  /* 4 Visual */
  background-color: wheat;
  border-radius: 4px;
}

.header {
  /* 1 Positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /* 2 Block model */
  width: 100%;
  /* 4 Visual */
  background-color: red;
}

.header__container {
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1200px;
  min-height: 70px;
  padding: 0 30px;
  margin: 0 auto;
}
.header__container a {
  /* 3 Typography */
  color: white;
}

.header__logo {
  /* 1 Positioning */
  position: relative;
  z-index: 5;
  /* 2 Block model */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  /* 4 Visual */
  border-radius: 50%;
  background-color: white;
}

.header__hamburger {
  /* 2 Block model */
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media (min-width: 768px) {
  .header__hamburger {
    /* 2 Block model */
    display: none;
  }
}

.header__menu-body {
  /* 1 Positioning */
  position: fixed;
  top: 0;
  left: -100%;
  /* 2 Block model */
  width: 100%;
  height: 100%;
  padding: 100px 30px 30px 30px;
  overflow: auto;
  /* 4 Visual */
  background-color: rgba(0, 0, 0, 0.9);
  /* 5 Animation */
  -webkit-transition: left 0.4s ease 0s;
  transition: left 0.4s ease 0s;
}
@media (min-width: 768px) {
  .header__menu-body {
    /* 1 Positioning */
    position: static;
    left: auto;
    /* 2 Block model */
    height: auto;
    overflow: visible;
    padding: 0;
    /* 4 Visual */
    background-color: transparent;
  }
}

.header__menu-body--active {
  /* 1 Positioning */
  left: 0;
}

.header__menu-body::before {
  /* 1 Positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  /* 2 Block model */
  width: 100%;
  height: 70px;
  /* 4 Visual */
  content: "";
  background-color: red;
}
@media (min-width: 768px) {
  .header__menu-body::before {
    /* 2 Block model */
    display: none;
  }
}

.lazy-loading__page {
  /* 2 Block model */
  padding: 20px;
  /* 4 Visual */
  color: #fff;
}

.lazy-loading__page--1 {
  /* 4 Visual */
  background-color: #a27575;
}

.lazy-loading__page--2 {
  /* 4 Visual */
  background-color: #68689c;
}

.lazy-loading__page--3 {
  /* 4 Visual */
  background-color: #c3c36c;
}

.lazy-loading__page-text p {
  /* 2 Block model */
  margin-bottom: 20px;
}

.lazy-loading-temp {
  /* 2 Block model */
  width: 50px;
  height: 50px;
  /* 4 Visual */
  background: url(../images/loadung.gif) center/50px no-repeat;
}

.lazy-loading__images {
  /* 2 Block model */
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
}

.lazy-loading__img {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  padding: 0 0 90% 0;
  /* 4 Visual */
  background: url(../images/loadung.gif) center/50px no-repeat;
}

.lazy-loading__img img {
  /* 1 Positioning */
  position: absolute;
  top: 0;
  left: 0;
  /* 2 Block model */
  display: block;
  width: 100%;
  height: 100%;
  /* 4 Visual */
  -o-object-fit: cover;
  object-fit: cover;
}

.lazy-loading__map {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  padding: 0 0 50% 0;
  /* 4 Visual */
  background: url(../images/loadung.gif) center/50px no-repeat;
}

.lazy-loading__map iframe {
  /* 1 Positioning */
  position: absolute;
  top: 0;
  left: 0;
  /* 2 Block model */
  width: 100%;
  height: 100%;
}

.page {
  /* 1 Positioning */
  position: absolute;
  top: 0;
  left: 0;
  /* 2 Block model */
  width: 100%;
  height: 100%;
}

.parallax {
  /* 1 Positioning */
  position: relative;
  /* 2 Block model */
  height: 100%;
}

.parallax__montain {
  /* 1 Positioning */
  position: fixed;
  top: 0;
  left: 0;
  /* 2 Block model */
  width: 100%;
  height: 100%;
}

.parallax__montain--1 {
  /* 4 Visual */
  background: url(../images/paralax__img-1.png) 0 0/cover no-repeat;
}

.parallax__montain--2 {
  /* 1 Positioning */
  z-index: 1;
  /* 4 Visual */
  background: url(../images/paralax__img-2.png) bottom right/45% no-repeat;
}

.parallax__montain--3 {
  /* 1 Positioning */
  z-index: 1;
  /* 4 Visual */
  background: url(../images/paralax__img-3.png) left bottom/100% no-repeat;
}

.parallax__fog {
  /* 1 Positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  /* 2 Block model */
  width: 100%;
  height: 100%;
  /* 4 Visual */
  background: url(../images/paralax__img-fog.png) bottom/100% no-repeat;
}

.parallax-content {
  /* 1 Positioning */
  position: relative;
}

.parallax-content__body {
  /* 2 Block model */
  max-width: 1170px;
  margin: 0 auto;
}

.parallax-content__header {
  /* 2 Block model */
  padding: 0 20px;
  margin-bottom: 20px;
  /* 3 Typography */
  text-align: center;
  text-transform: uppercase;
}

.parallax-content__title {
  /* 3 Typography */
  font-size: 200px;
}

.parallax-content__subtitle {
  /* 3 Typography */
  font-size: 120px;
}

.parallax-content__article {
  /* 2 Block model */
  padding: 25px;
  /* 3 Typography */
  font-size: 18px;
  line-height: 24px;
  /* 4 Visual */
  background-color: rgba(255, 255, 255, 0.5);
}

.parallax-content__article p {
  /* 2 Block model */
  margin-bottom: 20px;
}